body {
    padding: 0px;
    margin: 0px;
    scrollbar-width: thin;
}

a {
    color: #00B7FF;
}

.wrapper {
    /*display: grid;*/
    /*grid-auto-rows: auto;*/
    /*grid-template-columns: 500px;*/
    /*grid-gap: 0px;*/
    /*display: inline;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*float:left;*/
}

/*rect.selected {*/
/*fill: gold !important;*/
/*}*/

div.row {
    display: inline-block;
    width: 100%;
}

#title {
    /*grid-column: 1;*/
    /*grid-row: 1;*/
    padding-left: 5px;
    float: left;
    background-color: black;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    height: 25px;
    font-size: 20px;
    width: 90%;
    box-sizing: border-box;
}

#dataselect {
    float: left;
    background-color: black;
    width: 10%;
    box-sizing: border-box;
}

#columns {
    /*flex: 1;*/
    /*background-color: blue;*/
    /*flex-basis: 100%;*/
    /*height: 50px;*/
}

#project_div {
    float: left;
    border: 1px solid silver;
    margin: 1px;
    box-sizing: border-box;
}

#flow_div {
    float: left;
    border: 1px solid silver;
    margin: 1px;
    box-sizing: border-box;
}

#flow_main {
    /*grid-column: 5/10;*/
    /*grid-row: 1;*/
    /*background-color: purple;*/
    /*float: left;*/
    /*flex: 5;*/

    /*flex: 5;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

#timeline > svg > g.row:nth-child(odd) > rect.bg {
    fill: silver;
    opacity: 0.5;
}

#info > svg > g:nth-child(odd) > rect.row {
    fill: white;
}

#info > svg > g:nth-child(even) > rect.row {
    fill: silver;
    opacity: 0.5;
}

#list_content > svg > g.hovered > rect {
    fill: pink !important;
    opacity: 0.5;
}

#list_content > svg > g:nth-child(odd) > rect {
    fill: white;
}

/*  Define the background color for all the EVEN background rows  */
#list_content > svg > g:nth-child(even) > rect {
    fill: silver;
    opacity: 0.5;
}

#flow_label {
    float: left;
}

#flow {
    overflow: scroll;
    float: left;
}

#filter_div {
    float: left;
    border: 1px solid silver;
    margin: 1px;
    box-sizing: border-box;
    /*background-color: silver;*/
}

#list_div {
    float: left;
    /*background-color: green;*/
    border: 1px solid silver;
    margin: 1px;
    box-sizing: border-box;
}

.point.selected > path {
    stroke: red !important;
    stroke-width: 1px !important;
}

.player.selected {
    fill: red !important;
}

/*div.title {*/
/*padding-left: 5px;*/
/*float: left;*/
/*!*background-color: black;*!*/
/*!*font-color: white;*!*/
/*!*box-sizing: border-box;*!*/
/*!*padding-left: 5px;*!*/
/*}*/


#project_title {

    /*height: 30px;*/
}

#detail_title {
    /*height: 30px;*/
}

#slider {
    /*flex: 1;*/
    /*height: 50px;*/
}

#project {
    /*flex: 1;*/
}

#detail_label {
    /*width: 15px;*/
    float: left;
}

#detail_wrapper {

    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column-reverse;*/

}

div.title {
    background-color: white;
    box-sizing: border-box;
    font-size: 11px;
}

div.title > * {
    font-size: 12px;
}

#detail_main {
    display: inline;

}

#detail {
    /*flex: 1;*/
    float: left;
    overflow: scroll;

}

#detail_detail {
    /*width: 100%;*/
    /*height: 50px;*/
}

#list_column {
    overflow: scroll;
}

#list_content {
    overflow: scroll;
}

#timeline_attr {
    float: left;
    width: 100px;
    overflow: scroll;
}

#timeline_main {
    float: left;
}

#timeline_div {
    /*flex: 5;*/
    float: left;
    overflow: hidden;
    border: 1px solid silver;
    margin: 1px;
    box-sizing: border-box;
}

#timeline_head {
    overflow: scroll;
}

#timeline_projected {
    overflow: scroll;
}

#filter_list {
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

#timeline {
    overflow: scroll;
}

#info_div {
    float: left;
    border: 1px solid silver;
    margin: 1px;
    box-sizing: border-box;
    /*flex: 1;*/
}

#selected_year {
    overflow: scroll;
}

#info {
    overflow: scroll;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: blue;
}

.skyline {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: red !important;
}

.arrow {
    stroke-width: 4px;
    stroke: #999;
    stroke-opacity: 0.2;
}

#arrow {
    stroke-width: 1px;
    stroke-dasharray: 0;
}

.dominated {
    stroke-width: 4px;
    stroke: blue;
}

circle.invisible {
    fill: none !important;
}

rect.buttonA.selected {
    fill: blue !important;
    stroke-width: 10px;
}

rect.buttonB.selected {
    fill: red !important;
    stroke-width: 10px;
}

/*.point.selected > .pie > path {*/
/*stroke-width: 2px;*/
/*stroke: red;*/
/*}*/

path.hovered {
    opacity: 0.7 !important;
    /*stroke: white;*/
    /*stroke-width: 1px;*/
}

path.edge-selected {
    /*fill: green !important;*/
    opacity: 0.9 !important;
    stroke-width: 1px !important;
}

/* test
*/

text {
    font: 10px sans-serif;
}

label {
    font-size: 50px;
}

.container {
    border: 1px solid;
}

rect.bar-selected {
    /*fill: green !important;*/
    opacity: 0.9 !important;
    stroke: black !important;
}

#pie-container {
    float: left;
    width: 480px;
    height: 480px;
    display: inline-block;
}

#cluster-container {
    float: left;
    width: 349px;
    height: 480px;
    padding: 0;
    display: inline-block;
}

#detail-container {
    float: left;
    width: 1000px;
    height: 480px;
    padding: 0;
    display: inline-block;
}

.m13 > .mark-13 {
    fill: red !important;
}

#trend-container {
    float: none;
    width: 100%;
    height: 50%;

    overflow: scroll;
}

#container-container {
    width: 1835px;
    height: 960px;
}
