{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'DOMeasure/css/style.css' %}"/>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
<input type="text" id="uid" name="uid">
<input type="button" id="projectbtn" name="draw" value="draw" onclick="draw()">
{#{% for year in years %}#}
{#    <input type="button" id="{{ year }}btn" name="{{ year }}" value="{{ year }}" onclick="update({{ year }})">#}
{#{% endfor %}#}
<script type="text/javascript" src="{% static 'DOMeasure/js/compare.js' %}"></script>

</body>
</html>