{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/lineupjs/build/LineUpJS.css" rel="stylesheet">
    <script src="https://unpkg.com/lineupjs/build/LineUpJS.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'skyflow/css/lineup.css' %}"/>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://colorbrewer2.org/export/colorbrewer.js"></script>


</head>
<body>
<script type="text/javascript">
    let qid = {{ qid }};
</script>
<script type="text/javascript" src="{% static 'skyflow/js/lineup.js' %}"></script>
</body>
</html>